* {
    margin: 0;
    padding: 0;

}

html, 
body {
    height: 100%;
    font-family: 'Gurajada', serif;
    color:darkslategray;
}

h1, h2,h3, h4,  h5, h6 {
    font-family: 'Raleway', sans-serif;
    line-height:110%;
}

#Container {
    display: flex;
    background-color: #A3997A;
    align-items: center;    
    flex-direction:column;
}

#App {
    background-color: gainsboro;
    font-family: 'Gurajada', serif;
    width:100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    line-height:100%;
}

.title {
    font-family: 'Raleway', sans-serif;
    color:gainsboro;
    font-size: 2.5rem;
    text-align: center;
}

#XER-Options {
    
    padding:20px;
}

#kofi {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color:rgb(26, 150, 47);
    display:block;
    margin:auto;
}

/* Input Type = filePicker */

[type="file"] {
    height: 0.1px;
	overflow: hidden;
	opacity: 0;
	position:absolute;
	z-index: -1;
    align-self: center;
  }
  
[type="file"] + label {
	text-align: center;
	background: rgb(26, 150, 47);
	border: 10px;
	border-radius: 25px;
    width:350px;
	color: #fff;
	cursor: pointer;/* "hand" cursor */
	display: inline-block;
	align-content: middle;
    font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	outline: none;
    margin-left: 10px;
    margin-right: 50px;
    margin-bottom: 15px;
	padding: 20px; 
	position: relative;
	transition: all 0.3s;
	height:auto;
	}

	[type="file"] + label:hover
			{background:rgb(15, 88, 27);
            }

textarea { 
    white-space: pre;
    background: #eaeaea;;
    outline: none;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 0.8rem; 
    height: 150px;
    width:400px;
    margin-left: 10px;
    margin-right: 50px;
    }

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5rem;
    line-height: 1.5em;
    padding: 10px 15px;
}

table td,td {
    text-align: left;
    border-spacing: none;
    border-style: solid;
    padding: 10px 15px;
    border-width: 0 0 0 0;
}

#inputTagValue {
    border-radius: 25px;
    border: 2px solid rgb(26, 150, 47);
    padding: 20px; 
    width: 400px;
    height: 2rem; 
    font-family: 'Raleway', sans-serif;
    color:rgb(26, 150, 47);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

#inputFileNameToSaveAs{
    border-radius: 25px;
    border: 2px solid rgb(26, 150, 47);
    padding: 20px; 
    width: 400px;
    height: 2rem; 
    font-family: 'Raleway', sans-serif;
    color:rgb(26, 150, 47);
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.actionbutton {
    
    text-align: center;
	background: rgb(26, 150, 47);
	border: 10px;
	border-radius: 25px;
    width:300px;
	color: #fff;
	cursor: pointer;/* "hand" cursor */
	display: inline-block;
	align-content: middle;
    font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	outline: none;
    margin-left: 0px;
    margin-right: 50px;
    margin-bottom: 15px;
	padding: 20px; 
	position: relative;
	transition: all 0.3s;
	height:auto;
    }
    .actionbutton:hover{
    background-color:rgb(15, 88, 27);
    }
    @media all and (max-width:30em){
    a.actionbutton{
        display:block;
        margin:0.2em auto;
    }
    }

.infobutton{
    text-align: center;
	background: gainsboro;
    border: 0px;
    font-size: 1.8rem;
	color: rgb(26, 150, 47);
	cursor: pointer;/* "hand" cursor */
	display: inline-block;
	align-content: middle;
    font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	outline: none;
	padding: 10px; 
	position: relative;
	transition: all 0.3s;
	height:auto;
    }
    .infobutton:hover{
    color:rgb(15, 88, 27);
    }
    @media all and (max-width:30em){
    a.actionbutton{
        display:block;
        margin:0.2em auto;
    }
    }

    details summary { 
        font-family: 'Raleway', sans-serif;
        outline:none;
        cursor: pointer;
      }
      
      details summary > * {
        display: inline;
      }

